.mainAddCourse{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #08203a, /* deeper neon navy */
  #135a9dd7, /* neon steel blue */ 
  #1fa5ffcb, /* bright polished neon cyan-blue */
  #67deffa2,
  #1fa5ffcb, 
  #08203ae7 /* glowing neon edge */);
  background-attachment: fixed;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.headingAddCourse{
   position:absolute;
   top:160px;
   font-size:50px;
   font-weight:bold;
   text-decoration: solid;
   text-shadow: 0 3px 5px #e8b1f4;
   color:rgba(70, 13, 64, 0.838)
  }

.addCourseDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.formDataAddCourse{
   background: linear-gradient(180deg,
    #ee82ee5e, 
    hsla(282, 91%, 71%, 0.553), 
    #9b30ff35 );
  position: absolute;
  top:300px;
  
  padding: 2rem 2.5rem;
  border-radius: 12px;
  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.feildAddCourse{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.btnAddCourse{
     width: 100%;
   padding: 10px;
   color: #eee8ff;
   background-color: rgb(110, 34, 181) !important;
   border: 0;
   font-size: 1rem;
   border-radius: 6px;
   cursor: pointer;
   transition: background-color 0.2s;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
}

