.adminDashboard{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 99vw;
    min-height: 99vh; 
    position:absolute;
    top:150px;
}

.headingAdminDash{
   position:absolute;
   /* top:160px; */
   font-size:40px;
   font-weight:bold;
   text-decoration: solid;
   text-shadow: 0 3px 5px #e8b1f4;
   color:rgba(70, 13, 64, 0.838)}

   .cardStyle{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    padding: 30px;
    gap: 100px;
   }

.cardBody{
    border: 2px solid rgb(78, 22, 147);
    border-radius: 10px;
    background-color: rgba(90, 46, 143, 0.317);
}

.cardBody h5{
    text-shadow: 2px 0 2px #e8b1f4;
}
.cardBody h4{
    text-align: center;
    color: rgb(5, 218, 218);
}