.homePage{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 99vw;
    min-height: 99vh; 
    position:absolute;
    top:150px;
}
.headingsMainHome{
    margin-bottom:20px;
    margin-top:90px;
    font-size:70px;
    font-weight:bolder;
    text-align:center;
    color:rgb(245, 214, 242)
}

.headingsSubHome{
    font-size:50px;
    font-weight:bold;
    text-align:center;
    text-decoration: solid;
    text-shadow: 0 0 5px #ba84c6;
    color:rgba(222, 202, 220, 0.838)
}


.cardDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: aquamarine;
    
} 


.homelogo{
    display:flex;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: aqua;   
}
.btns{
display: flex;
justify-content: center;
width: 90px;
text-align: center;
}