.headings{
    margin-bottom:20px;
    margin-top:100px;
    font-size:60px;
    font-weight:bolder;
    text-align:center;
}
.page{
    display: flex;
    flex-direction:column;
    align-items: center;
    
    background-color:rgba(193, 182, 215, 0.542);
    min-width: 100vw;
    min-height: 100vh; 
    
}

.cardDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: aquamarine;
    
} 


.homelogo{
    display:flex;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: aqua;   
}
.btns{
display: flex;
justify-content: center;
width: 90px;
text-align: center;
}