.profile-container {
  display: flex;
  gap: 2rem;
  justify-content: center; 
  align-items: center;
  margin: 0;
  background: linear-gradient(180deg, #08203a,
  #135a9dd7, 
  #1fa5ffcb, 
  #67deffa2,
  #1fa5ffcb, 
  #08203ae7);
  background-attachment: fixed;
  padding: 20px;
}
.studHeading{
  position:absolute;
  top:180px !important;
  font-size:50px;
  font-weight:bold;
  text-decoration: solid;
  text-shadow: 0 0 5px #e8b1f4;
  color:rgba(70, 13, 64, 0.838) 
}
/* Profile Card */
.profile-card {

  width: 320px;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.studDetail{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: linear-gradient(180deg,
    #ee82ee5e, 
    #cf70f88d, 
    #2302425d );
      
    position: absolute;
    top: 260px;

}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #4a90e2;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card h2 {
  margin: 10px 0 5px;
}

.email {
  color: #777;
  margin-bottom: 20px;
}

.info-section p {
  font-size: 16px;
  margin: 8px 0;
}

/* Course Card */
.course-card {
  background: #fdf5fda8;
  width: 350px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.studCourseDash{
    display: flex;
  width:max-content;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background: linear-gradient(180deg,
    #ee82ee5e, 
    #cf70f88d, 
    #2302425d );
      
    position: absolute;
    top: 460px;
    gap:10px;

}

.course-card h3 {
  margin-bottom: 15px;
  border-bottom: 2px solid #4a90e2;
  padding-bottom: 8px;
}

.course-card p {
  font-size: 16px;
  margin: 10px 0;
}

.no-course {
  font-style: italic;
  color: #888;
}
.course-box {
  padding: 12px;
  background: #f5f5f5;
  margin-bottom: 10px;
  border-radius: 8px;
}