.body{
    background-color: aquamarine;
    height: 100vh;
}
.tableDesign{
    margin:50px auto;
    width: 50%;
    border-radius:12px; 
}

.tableRow{
    height: 70px;
}

.tableData{
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    padding: 15px;
    text-align: center;
}

.buttonView{
   padding: 6px 12px;
    border-radius: 8px;
    font-size: 18px;
    width:100px;
}