.mainViewCourse{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #08203a, 
  #135a9dd7,  
  #1fa5ffcb, 
  #67deffa2,
  #1fa5ffcb, 
  #08203ae7 );
  background-attachment: fixed;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.headViewCourse{
   position:absolute;
   top:200px;
   font-size:50px;
   font-weight:bold;
   text-decoration: solid;
   text-shadow: 0 3px 5px #e8b1f4;
   color:rgba(70, 13, 64, 0.838)
}
.btnViewCourse{
   width: 100%;
   padding: 10px;
   color: #eee8ff;
   background-color: rgb(110, 34, 181) !important;
   border: 0;
   font-size: 1rem;
   border-radius: 6px;
   cursor: pointer;
   transition: background-color 0.2s;
}
.cardArea{
   position:absolute;
   top:280px;
}