.viewStudent{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 99vw;
    min-height: 99vh; 
    position:absolute;
    top:150px;
}
.headingViewStudents{
   position:absolute;
   top:50px;
   font-size:50px;
   font-weight:bold;
   text-decoration: solid;
   text-shadow: 0 3px 5px #e8b1f4;
   color:rgba(70, 13, 64, 0.838)
}
/* --------TABLE---------------- */
.studList{
    position:absolute;
    top:150px;
    color: rgb(7, 17, 49);
    background: linear-gradient(180deg,
    #ee82ee5e, 
    #cf70f88d, 
    #2302425d );
    border-collapse: collapse;
    border: 1px solid #53366d;
}

.studList th,.studList td {
  border: 1px solid #0c0b0d;
  padding: 10px;
  text-align: center;
}
/* --------------------------- */
.courseSubTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2px;
}
.courseSubTable th,.courseSubTable td {
  border: none;
  padding: 4px;
  font-size: 16px;
  text-align: left;
}

.viewStudentBtn{
   width: 100%;
   padding: 5px;
   color: #eee8ff;
   background-color: rgb(110, 34, 181);
}
