.NavBar{
    /* display: flex;
    /* width: 100vw !important; */
    /* height:max-content; */
    /* margin: 0; */
    background-color: rgb(115, 115, 235);
    padding-right: 10px;

}
.BrandName{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size:28px;
    text-shadow: 10px;
    color: rgb(19, 7, 249);
    margin-bottom: 1px;
    /* padding-top: 10px; */
}
.login{
    display: flex;
    align-items: flex-end;
    width: max-content;
    margin-left:15px;
    background-color: blue;
}