body{
     margin: 0;
  min-height: 100vh;
background: linear-gradient(
 180deg,
     #08203a,  /* deeper neon navy */
    #135a9dd7,   /* neon steel blue */
    #1fa5ffcb,   /* bright polished neon cyan-blue */
    #67deffa2,
     #1fa5ffcb,
    #08203ae7   /* glowing neon edge */
   
  );
  background-attachment: fixed;

}