
.footer {
  background: linear-gradient(
    90deg,
    #08203a,
    #135a9d,
    #1fa5ff,
    #67deff,
    #1fa5ff,
    #135a9d,
    #08203a
  ) !important;
  background-size: 300% 300% !important;
  border-bottom: 3px solid rgba(65, 49, 94, 0.904) !important;
  box-shadow: 0 0 20px #67deff59 !important;
  padding: 0 20px 10px  !important;
display: flex;
  flex-direction: column;
  align-items: center;
  
}

.company-name {
  font-weight: 600;
  font-size: 24px;
  
  /* position: relative;
  bottom:10px; */
}

/* .social-area .social {
  width: 42px;
  height: 42px;
  background-color: #3a3d42;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.social-area .social:hover {
  background-color: #6366f1;
} */
 .tag{
  top:50px;
  width: 100%;
  position: absolute;
  left:0;
  text-align: center;
 }

.copywrite {
  font-size: 14px;
 background: #08203a !important;
 padding: 5px;
}