.studentReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #333;
  padding: 30px 20px;
}

.headings {
  text-align: center;
  margin-bottom: 20px;
  color: #1a237e;
  font-weight: 600;
}

.formDiv {
  display: flex;
  justify-content: center;

}

/* Form container */
.formData {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #6d90e9d6;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(28, 3, 251, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* Input fields */
.feild {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.feild:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

/* Submit button */
.btns1 {
  width: 120px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-weight: 500;
}

.btns1:hover {
  background-color: #0f5b01;
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 500px) {
  .formData {
    padding: 20px;
    margin: 30px 15px;
  }

  .feild,
  .btns1 {
    font-size: 15px;
  }

  .btns1 {
    width: 100%;
  }
}
